// NewPath – Echoes of the Wild Custom Styling

$link-color: #00e6f6;
$btn-primary-color: #ecb76e;

$body-background-color: #112e40;
$sidebar-color: #051b31;
$border-color: #35657d;

$body-text-color: #f4cf7f;
$body-heading-color: #ecb76e;
$nav-child-link-color: #ecb76e;

$search-background-color: #001221;
$table-background-color: #051b31;
$code-background-color: #001221;